<header class="site-header">
  <div class="container flex">
    <a class="brand" href="/">{{ site.name }}</a>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/services/">Services</a>
      <a href="/videos/">Videos</a>
      <a href="/contact/">Contact</a>
    </nav>
  </div>
</header>
